{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/validator.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_receipt.js') }}"></script>
{% endblock %}

{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="container">
    <div class="alert alert-danger" id="warning-block">
        <strong></strong>
    </div>
    <form class="form-horizontal" role="form" onsubmit="return false;" id="receipt-form" name="receipt-form">
        <div class="form-group">
            <label class="control-label  col-lg-1" for="receipt_date">日期</label>
            <div class="col-lg-2">
                <input class="form-control" id="receipt_date" name="receipt_date" type="date" required>
            </div>
            <label class="control-label  col-lg-1" for="customer">客户</label>
            <div class=" col-lg-2">
                <input class="form-control" id="customer" name="customer" type="text" required>
            </div>
            <label class="control-label  col-lg-1" for="identifier">编号</label>
            <div class=" col-lg-2">
                <input class="form-control" id="identifier" name="identifier" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label  col-lg-1" for="maker">制单人</label>
            <div class="col-lg-2">
                <input class="form-control" id="maker" name="maker" type="text" value="张林" required>
            </div>
            <label class="control-label  col-lg-1" for="repository">仓库</label>
            <div class="col-lg-2">
                <select class="form-control" id="repository" name="repository" required>
                    <option value="主仓库">主仓库</option>
                    <option value="次仓库">次仓库</option>
                </select>
            </div>
            <label class="control-label  col-lg-1" for="balance">结算方式</label>
            <div class="col-lg-2">
                <select class="form-control" id="balance" name="balance" required>
                    <option value="货到付款">货到付款</option>
                    <option value="款到发货">款到发货</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="btn-toolbar" role="toolbar" id="product-toolbar" name="product-toolbar">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#product-model">增加
                            </button>
                            <button type="button" class="btn btn-default" name="remove-product" id="remove-product">删除
                            </button>
                        </div>
                    </div>
                </div>
                <table class="table" name="product-table" id="product-table">
                    <thead>
                    <tr>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>金额</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-1" for="sender">发货人</label>
            <div class=" col-lg-2">
                <input class="form-control" id="sender" name="sender" type="text" value="王" required>
            </div>
            <label class="control-label  col-lg-1" for="handler">经手人</label>
            <div class=" col-lg-2">
                <input class="form-control" id="handler" name="handler" type="text" value="叶灵德" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="submit" name="submit">添加</button>
        <input class="btn btn-warning" type="reset" id="remove-add" name="remove-add" value="重置">
    </form>
</div>
<div class="modal fade" id="product-model" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加商品</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-input" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="search-btn">搜索!</button>
                    </span>
                </div><!-- /input-group -->
                <table class="table" id="result-table" name="result-table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <input type="button" class="btn btn-primary" id="submit-btn" value="提交">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% endblock %}